/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

/* 화면 크기가 768px 이상일 때 적용 */
/* @media (min-width: 768px) {
  .react-calendar-heatmap {
    height: 200px;
  }
} */

.react-calendar-heatmap text {
  font-size: 5px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 3px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
   * Default color scale
   */

.react-calendar-heatmap .color-empty {
  fill: rgba(238, 238, 238, 0.2);
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/* 레드 스케일 */
.react-calendar-heatmap .color-scale-red-1 {
  fill: rgba(255, 129, 129, 0.2);
}
.react-calendar-heatmap .color-scale-red-2 {
  fill: rgba(255, 129, 129, 0.4);
}
.react-calendar-heatmap .color-scale-red-3 {
  fill: rgba(255, 129, 129, 0.6);
}
.react-calendar-heatmap .color-scale-red-4 {
  fill: rgba(255, 129, 129, 0.8);
}
.react-calendar-heatmap .color-scale-red-5 {
  fill: rgba(255, 129, 129, 1);
}

/* 블루 스케일 */
.react-calendar-heatmap .color-scale-blue-1 {
  fill: rgba(76, 201, 254, 0.2);
}
.react-calendar-heatmap .color-scale-blue-2 {
  fill: rgba(76, 201, 254, 0.4);
}
.react-calendar-heatmap .color-scale-blue-3 {
  fill: rgba(76, 201, 254, 0.6);
}
.react-calendar-heatmap .color-scale-blue-4 {
  fill: rgba(76, 201, 254, 0.8);
}
.react-calendar-heatmap .color-scale-blue-5 {
  fill: rgba(76, 201, 254, 1);
}

/* 그린 스케일 */
.react-calendar-heatmap .color-scale-green-1 {
  fill: rgba(185, 255, 102, 0.2);
}
.react-calendar-heatmap .color-scale-green-2 {
  fill: rgba(185, 255, 102, 0.4);
}
.react-calendar-heatmap .color-scale-green-3 {
  fill: rgba(185, 255, 102, 0.6);
}
.react-calendar-heatmap .color-scale-green-4 {
  fill: rgba(185, 255, 102, 0.8);
}
.react-calendar-heatmap .color-scale-green-5 {
  fill: rgba(185, 255, 102, 1);
}

/* 퍼플 스케일 */
.react-calendar-heatmap .color-scale-purple-1 {
  fill: rgba(238, 113, 158, 0.2);
}
.react-calendar-heatmap .color-scale-purple-2 {
  fill: rgba(238, 113, 158, 0.4);
}
.react-calendar-heatmap .color-scale-purple-3 {
  fill: rgba(238, 113, 158, 0.6);
}
.react-calendar-heatmap .color-scale-purple-4 {
  fill: rgba(238, 113, 158, 0.8);
}
.react-calendar-heatmap .color-scale-purple-5 {
  fill: rgba(238, 113, 158, 1);
}

/* 옐로우 스케일 */
.react-calendar-heatmap .color-scale-yellow-1 {
  fill: rgba(255, 171, 1, 0.2);
}
.react-calendar-heatmap .color-scale-yellow-2 {
  fill: rgba(255, 171, 1, 0.4);
}
.react-calendar-heatmap .color-scale-yellow-3 {
  fill: rgba(255, 171, 1, 0.6);
}
.react-calendar-heatmap .color-scale-yellow-4 {
  fill: rgba(255, 171, 1, 0.8);
}
.react-calendar-heatmap .color-scale-yellow-5 {
  fill: rgba(255, 171, 1, 1);
}

.react-calendar-heatmap {
  user-select: none; /* 선택 비활성화 */
  -webkit-user-select: none; /* Safari 지원 */
  -moz-user-select: none; /* Firefox 지원 */
  -ms-user-select: none; /* IE/Edge 지원 */
}

/* rect 요소의 outline도 제거 */
.react-calendar-heatmap rect {
  outline: none;
  cursor: default;
}
